:root {
  --gray-100: #fafafa;
  --gray-700: #2a2a2a;
  --gray-800: #1a1a1a;
  --gray-900: #0a0a0a;

  --yellow-500: #cbb857;
  --green-500: #369146;

  --cols-2: repeat(2, minmax(0, 1fr));
  --cols-3: repeat(3, minmax(0, 1fr));
  --cols-4: repeat(4, minmax(0, 1fr));
  --cols-5: repeat(5, minmax(0, 1fr));
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--gray-900);
  color: var(--gray-100);
  font-family: sans-serif;
}

main {
  padding: 5rem 0;
}

.split {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.cells-box {
  max-width: 22rem;
  width: 100%;
  display: grid;
  grid-template-columns: var(--cols-5);
  gap: 5px;
}

.cell {
  aspect-ratio: 1;
  border: 2px solid var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1em;
  text-transform: capitalize;
}

.cell[data-state] {
  cursor: pointer;
}

.cell[data-state="1"] {
  background-color: var(--yellow-500);
}

.cell[data-state="2"] {
  background-color: var(--green-500);
}

.suggestions-box {
  max-width: 22rem;
  width: 100%;
}

.suggestions-header {
  margin-bottom: 1rem;
}

.suggestions {
  max-height: 32rem;
  overflow-y: scroll;
}

@media (min-width: 992px) {
  .split {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 5rem;
  }

  .cell {
    font-size: 2.25rem;
  }
}